<div class="container-fluid mt-5">
  <div class="container mb-5">
    <div class="card">
      <div class="card-header d-flex justify-content-between">
        <div class="my-auto" *ngIf="!this.authService.user || this.id !== this.authService.user.userId">Profil von {{this.profile.name}}</div>
        <div class="my-auto" *ngIf="this.authService.user && this.id === this.authService.user.userId">Mein Profil</div>
        <button type="button" class="btn btn-primary" *ngIf="this.authService.user && this.id === this.authService.user.userId"
          routerLink="./edit">Bearbeiten</button>
      </div>

      <div class="card-body">
        <div class="container card-body">
          <dl class="row">
            <dt class="col-sm-3">Name</dt>
            <dd class="col-sm-9">Max Mustermann</dd>

            <dt class="col-sm-3">Stadt</dt>
            <dd class="col-sm-9">Königs Wusterhausen</dd>
          </dl>

          <p>
            <strong>Beschreibung</strong><br>
            <em *ngIf="!this.profile.description">Keine Beschreibung vorhanden</em>
            {{this.profile.description}}
          </p>

        </div>
      </div>
    </div>
  </div>
</div>

<div class="d-flex justify-content-center mt-5">
  <h1 class="my-title" *ngIf="!this.authService.user || this.id !== this.authService.user.userId">Inserate von {{this.profile.name}}</h1>
  <h1 class="my-title" *ngIf="this.authService.user && this.id === this.authService.user.userId">Meine Inserate</h1>
</div>

<app-offers-list class="col-md-8" [(offerFilter)]="this.filter"></app-offers-list>
