<div class="my-header">
    <div class="container">
        <h1 class="display-1 text-center text-white">upGrade.</h1>
        <p class="lead text-center text-white">Das upGrade. für deine Noten!</p>
    </div>
</div>
<div class="container-fluid mt-5" style="min-height: 80%;">
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-12 col-md-5 mt-3 my-col rounded">
                <div class="container pt-1 text-center">
                    <h2 class="pt-3" style="font-weight: 400">Du suchst kompetente Nachhilfe?</h2>
                        <p class="lead pt-3 pb-5">Nur hier findest du den perfekten Nachhilfe Lehrer, der dir gegen
                            Bezahlung zu einer besseren Note verhelfen kann und deinen Schulalltag um einiges
                            erträglicher macht.</p>
                </div>
            </div>
            <div class="col-12 col-md-5 mt-3 my-col rounded">
                <div class="container pt-1 text-center">
                    <h2 class="pt-3" style="font-weight: 400">Du möchtest mit deinem Wissen Geld verdienen?</h2>
                        <p class="lead pt-3 pb-5">Finde auf unserer Website genau die Person, die für dein Wissen Geld
                            bezahlt und verhelfe ihr zu besseren Noten.</p>
                </div>
            </div>
        </div>
    </div>
</div>