<div class="container-fluid justify-content-center w-100 write-section mt-2">
    <div class="write-box align-content-center h-100">
        <form class="form" (ngSubmit)="onSubmit()" novalidate>
            <div class="form-row justify-content-center">
                <div class="col">
                    <input class="form-control mr-sm-2" type="search" placeholder="Nach Inseraten suchen"
                        aria-label="Search"></div>
                <div class="col-auto">
                    <button class="btn navbar-btn btn-outline-primary ml-2" type="submit">Suchen</button>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="container-fluid mt-5" *ngFor="let offer of this.offerService.offers">
    <div class="container my-article mb-5">
        <h2 class="my-title">{{offer.name}}</h2>
        <div class="row my-article-row">
            <div class="col-12 col-md-4">Fach: {{offer.subject}}</div>
            <div class="col-12 col-md-4">Bezahlung: {{offer.loan}}€</div>
            <div class="col-12 col-md-4">Klasse: {{offer.type}}</div>
        </div>
        <h3>Beschreibung</h3>
        <p>{{offer.description}}</p>
        <button type="button" class="btn btn-outline-primary my-2 my-sm-0">Profil ansehen</button>
        <button type="button" class="btn btn-outline-primary my-2 my-sm-0">Chat starten</button>
    </div>
</div>