<div class="container-fluid justify-content-center w-100 write-section mt-2" style="margin-top: 500px">
    <div class="write-box align-content-center h-100">
        <form class="form" (ngSubmit)="onSubmit()" novalidate>
            <div class="form-row justify-content-center">
                <div class="col">
                    <input class="form-control mr-sm-2" [(ngModel)]="query" name="query" type="search" placeholder="Nach Inseraten suchen"
                        aria-label="Search"></div>
                <div class="col-auto">
                    <button class="btn navbar-btn btn-outline-primary ml-2" type="submit">Suchen</button>
                </div>
            </div>
        </form>
    </div>
</div>

<app-offers-list [(offerFilter)]="this.filter"></app-offers-list>