<div class="list-group list-group-flush chat-selector-wrapper">
  <a class="list-group-item list-group-item-action flex-column align-items-start chat-selector" [routerLink]="['.']" [queryParams]="{ id: chat.chatId }" *ngFor="let chat of chats">
    <div class="d-flex w-100 justify-content-between">
      <h5>{{chat.userId1 === userId ? chat.userId2 : chat.userId1}}</h5>
      <small>3 days ago</small>
    </div>
    <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
  </a>
  <div class="list-group-item"></div>
</div>
