<div class="login-box">
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" novalidate>
    <div class="form-group mb-3">
      <label for="email_input">Name</label>
      <input type="text" formControlName="name" class="form-control" id="name_input" placeholder="Name"
        [ngClass]="{ 'is-invalid': submitted && loginForm.controls.email.errors }">
    </div>
    <div class="form-group mb-1">
      <label for="subject_input">Fach</label>
      <input type="text" formControlName="subject" class="form-control" id="subject_input" placeholder="Fach"
        [ngClass]="{ 'is-invalid': submitted && loginForm.controls.password.errors }">
      <div *ngIf="submitted && loginForm.controls.password.errors" class="invalid-feedback">
        <div *ngIf="loginForm.controls.password.errors.required">Bitte gib Dein Passwort ein.</div>
        <div *ngIf="loginForm.controls.password.errors.wrongCredentials">Bitte überprüfe E-Mail und Passwort.</div>
      </div>
    </div>
    <div class="form-group mb-1">
      <label for="password_input">Gehalt</label>
      <input type="password" formControlName="password" class="form-control" id="password_input" placeholder="Gehalt"
        [ngClass]="{ 'is-invalid': submitted && loginForm.controls.password.errors }">
      <div *ngIf="submitted && loginForm.controls.password.errors" class="invalid-feedback">
        <div *ngIf="loginForm.controls.password.errors.required">Bitte gib Dein Passwort ein.</div>
        <div *ngIf="loginForm.controls.password.errors.wrongCredentials">Bitte überprüfe E-Mail und Passwort.</div>
      </div>
    </div>
    <div class="form-group mb-1">
      <label for="password_input">Zielgruppe</label>
      <select class="form-control" id="sel1">
        <option>Schüler</option>
        <option>Student</option>
      </select>
      <div *ngIf="submitted && loginForm.controls.password.errors" class="invalid-feedback">
        <div *ngIf="loginForm.controls.password.errors.required">Bitte gib Dein Passwort ein.</div>
        <div *ngIf="loginForm.controls.password.errors.wrongCredentials">Bitte überprüfe E-Mail und Passwort.</div>
      </div>
    </div>
    <div class="form-group mb-1">
      <label for="password_input">Beschreibung</label>
      <input type="password" formControlName="password" class="form-control" id="password_input"
        placeholder="Beschreibung" [ngClass]="{ 'is-invalid': submitted && loginForm.controls.password.errors }">
      <div *ngIf="submitted && loginForm.controls.password.errors" class="invalid-feedback">
        <div *ngIf="loginForm.controls.password.errors.required">Bitte gib Dein Passwort ein.</div>
        <div *ngIf="loginForm.controls.password.errors.wrongCredentials">Bitte überprüfe E-Mail und Passwort.</div>
      </div>
    </div>
    <div class="d-flex justify-content-center">
      <button type="submit" class="btn btn-login btn-primary">Inserat erstellen</button>
    </div>
  </form>
</div>