<div class="login-box">
  <h2>Registrieren</h2>
  <form [formGroup]="registerForm" (ngSubmit)="onSubmit()" novalidate>

      <div class="form-group mb-3">
        <label for="firstname_input">Vorname</label>
        <input type="text" formControlName="firstname" class="form-control" id="name_input" placeholder="Vorname" [ngClass]="{ 'is-invalid': submitted && registerForm.controls.firstname.errors }">
        <div *ngIf="submitted && registerForm.controls.firstname.errors" class="invalid-feedback">
          <div *ngIf="registerForm.controls.firstname.errors.required">Bitte gib Deinen Vornamen ein.</div>
        </div>
      </div>

      <div class="form-group mb-3">
        <label for="lastname_input">Nachname</label>
        <input type="text" formControlName="lastname" class="form-control" id="surname_input" placeholder="Nachname" [ngClass]="{ 'is-invalid': submitted && registerForm.controls.lastname.errors }">
        <div *ngIf="submitted && registerForm.controls.lastname.errors" class="invalid-feedback">
          <div *ngIf="registerForm.controls.lastname.errors.required">Bitte gib Deinen Nachnamen ein.</div>
        </div>
      </div>

    <div class="form-row">

      <div class="form-group mb-3 col-md-8">
        <label for="street_input">Straße</label>
        <input type="text" formControlName="street" class="form-control" id="street_input" placeholder="Straße" [ngClass]="{ 'is-invalid': submitted && registerForm.controls.street.errors }">
        <div *ngIf="submitted && registerForm.controls.street.errors" class="invalid-feedback">
          <div *ngIf="registerForm.controls.street.errors.required">Bitte gib Deinen Straße ein.</div>
        </div>
      </div>

      <div class="form-group mb-3 col-md-4">
        <label for="house_number_input">Hausnummer</label>
        <input type="text" formControlName="housenumber" class="form-control" id="house_number_input" placeholder="Hausnummer" [ngClass]="{ 'is-invalid': submitted && registerForm.controls.housenumber.errors }">
        <div *ngIf="submitted && registerForm.controls.housenumber.errors" class="invalid-feedback">
          <div *ngIf="registerForm.controls.housenumber.errors.required">Bitte gib Deinen Straße ein.</div>
        </div>
      </div>

    </div>

    <div class="form-row">
      <div class="form-group mb-3 col-md-4">
        <label for="zip_code_input">Postleitzahl</label>
        <input type="text" formControlName="zipcode" class="form-control" id="zip_code_input" placeholder="Postleitzahl" [ngClass]="{ 'is-invalid': submitted && registerForm.controls.zipcode.errors }">
        <div *ngIf="submitted && registerForm.controls.firstname.errors" class="invalid-feedback">
          <div *ngIf="registerForm.controls.zipcode.errors.required">Bitte gib Deine Postleitzahl ein.</div>
        </div>
      </div>

      <div class="form-group mb-3 col-md-8">
        <label for="city_input">Stadt</label>
        <input type="text" formControlName="city" class="form-control" id="city_input" placeholder="Stadt" [ngClass]="{ 'is-invalid': submitted && registerForm.controls.city.errors }">
        <div *ngIf="submitted && registerForm.controls.firstname.errors" class="invalid-feedback">
          <div *ngIf="registerForm.controls.city.errors.required">Bitte gib Deinen Stadt ein.</div>
        </div>
      </div>
    </div>


    <div class="form-group mb-3">
      <label for="email_input">E-Mail</label>
      <input type="email" formControlName="email" class="form-control" id="email_input" placeholder="E-Mail-Adresse" [ngClass]="{ 'is-invalid': submitted && registerForm.controls.email.errors }">
      <div *ngIf="submitted && registerForm.controls.email.errors" class="invalid-feedback">
        <div *ngIf="loginForm.controls.email.errors.required">Bitte gib Deine E-Mail-Adresse ein.</div>
        <div *ngIf="registerForm.controls.email.errors.email">Bitte gib eine gültige E-Mail-Adresse ein.</div>
      </div>
    </div>

    <div class="form-group mb-3">
      <label for="password_input">Passwort</label>
      <input type="password" formControlName="password" class="form-control" id="password_input" placeholder="Passwort" [ngClass]="{ 'is-invalid': submitted && registerForm.controls.password.errors }">
      <div *ngIf="submitted && registerForm.controls.password.errors" class="invalid-feedback">
        <div *ngIf="registerForm.controls.password.errors.required">Bitte gib Dein Passwort ein.</div>
      </div>
    </div>

    <div class="d-flex justify-content-center mt-4">
      <button type="submit" class="btn btn-login btn-primary">Registrieren</button>
    </div>
  </form>
  <div class="d-flex justify-content-center mt-4">
    Du hast bereits einen Account? <a routerLink="/login" class="ml-2">Anmelden</a>
  </div>
</div>
