<h2>Registrieren</h2>
<form novalidate>
  <div class="form-row mb-2">
    <div class="col-md-6">
      <label for="name_input">Vorname</label>
      <input type="text" class="form-control" id="name_input">
    </div>
    <div class="col-md-6">
      <label for="surname_input">Nachname</label>
      <input type="text" class="form-control" id="surname_input">
    </div>
  </div>
  <div class="form-row mb-2">
    <div class="col-md-10">
      <label for="street_input">Straße</label>
      <input type="text" class="form-control" id="street_input">
    </div>
    <div class="col-md-2">
      <label for="house_number_input">Hausnummer</label>
      <input type="text" class="form-control" id="house_number_input">
    </div>
  </div>
  <div class="form-row mb-2">
    <div class="col-md-4">
      <label for="zip_code_input">Postleitzahl</label>
      <input type="text" class="form-control" id="zip_code_input">
    </div>
    <div class="col-md-8">
      <label for="city_input">Stadt</label>
      <input type="text" class="form-control" id="city_input">
    </div>
  </div>
  <div class="form-group mb-2">
      <label for="email_input">E-Mail</label>
      <input type="email" class="form-control" id="email_input">
    </div>
  <div class="form-group">
    <label for="password_input">Passwort</label>
    <input type="password" class="form-control" id="password_input">
  </div>
  <button type="submit" class="btn btn-primary">Registrieren</button>
</form>
